.btn-navbar-login {
    display: flex;
    width: 150px;
    height: 50px;
    padding: 7px 18px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 30px;
    /* background-color: white;  */
    /* color: black;  */
    border: none;
    background: #ffffff;
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 10px;
    /* 104.167% */
    letter-spacing: 0.2px;
    font-family: 'Poppins', sans-serif;
    transition-duration: 0.4s;
}
.btn-navbar-login:hover{
    background-color: #041139;
    color: white;
    border: none;
    font-size: 18.5px;
}
/* .log-nav{
    background-color: red;
    height: 800px;
    width: 6000px;
} */
.btn-navbar-sinup {
    display: flex;
    width: 150px;
    height: 50px;
    padding: 7px 18px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 32px;
    border: none;
    text-decoration: none;
    background: #ffffff;
    color: #000000;
    font-family: Poppins;
    font-size: 18.5px;
    font-style: normal;
    font-weight: 300;
    line-height: 10px;
    /* 104.167% */
    letter-spacing: 0.2px;
    font-family: 'Poppins', sans-serif;
    transition-duration: 0.4s;
    outline: none;
}
.btn-navbar-sinup:hover{
    background: #168b8b;
    font-size: 18.5px;
    border: none;
    color: white;
}
a {
    text-decoration: none;
}

.nav-item ul li {
    margin-bottom: 10px;
}

.blockquote-custom {
    transition: all 0.9s ease;
}


.blockquote-custom:hover {
    transform: scale(1.1);
}
.nav-item {
    display: inline-block;
    color: #fff3f3;
    text-decoration: none;
}

.nav-item ::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fffdfd;
    transition: width .3s;
}
.nav-item :hover::after {
    width: 100%;
    transition: width .3s;
}
































.fa-plug {
    transition: background 0.2s, color 0.2s;
  }
  .fa-plug:hover,
  .fa-plug:focus {
    text-decoration: none;
  }
  
  #wrapper {
    padding-left: 0;
    transition: all 0.5s ease;
    position: relative;
  }
  
  #sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #222;
    transition: all 0.5s ease;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  
  .sidebar-brand {
    position: absolute;
    top: 0;
    width: 250px;
    text-align: center;
    padding: 20px 0;
  }
  .sidebar-brand h2 {
    margin: 0;
    font-weight: 600;
    font-size: 24px;
    color: #fff;
  }
  
  .sidebar-nav {
    position: absolute;
    top: 75px;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .sidebar-nav > li {
    text-indent: 10px;
    line-height: 42px;
  }
  .sidebar-nav > li a {
    display: block;
    text-decoration: none;
    color: #757575;
    font-weight: 600;
    font-size: 18px;
  }
  .sidebar-nav > li > a:hover,
  .sidebar-nav > li.active > a {
    text-decoration: none;
    color: #fff;
    background: #000000;
  }
  .sidebar-nav > li > a i.fa {
    font-size: 24px;
    width: 60px;
  }
  .sidebar-nav > li > a i.fa-solid {
    font-size: 24px;
    width: 60px;
  }
  
  #navbar-wrapper {
      width: 100%;
      position: absolute;
      z-index: 2;
  }
  #wrapper.toggled #navbar-wrapper {
      position: absolute;
      margin-right: -250px;
  }
  #navbar-wrapper .navbar {
    border-width: 0 0 0 0;
    background-color: #eee;
    font-size: 24px;
    margin-bottom: 0;
    border-radius: 0;
  }
  #navbar-wrapper .navbar a {
    color: #757575;
  }
  #navbar-wrapper .navbar a:hover {
    color: #222;
  }
  
  #content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
    top: 100px;
  }
  #wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -250px;
  }
  
  @media (min-width: 992px) {
    #wrapper {
      padding-left: 250px;
    }
    
    #wrapper.toggled {
      padding-left: 60px;
    }
  
    #sidebar-wrapper {
      width: 250px;
    }
    
    #wrapper.toggled #sidebar-wrapper {
      width: 60px;
    }
    
    #wrapper.toggled #navbar-wrapper {
      position: absolute;
      margin-right: -190px;
  }
    
    #wrapper.toggled #content-wrapper {
      position: absolute;
      margin-right: -190px;
    }
  
    #navbar-wrapper {
      position: relative;
    }
  
    #wrapper.toggled {
      padding-left: 60px;
    }
  
    #content-wrapper {
      position: relative;
      top: 0;
    }
  
    #wrapper.toggled #navbar-wrapper,
    #wrapper.toggled #content-wrapper {
      position: relative;
      margin-right: 60px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    #wrapper {
      padding-left: 60px;
    }
  
    #sidebar-wrapper {
      width: 60px;
    }
    
  #wrapper.toggled #navbar-wrapper {
      position: absolute;
      margin-right: -250px;
  }
    
    #wrapper.toggled #content-wrapper {
      position: absolute;
      margin-right: -250px;
    }
  
    #navbar-wrapper {
      position: relative;
    }
  
    #wrapper.toggled {
      padding-left: 250px;
    }
  
    #content-wrapper {
      position: relative;
      top: 0;
    }
  
    #wrapper.toggled #navbar-wrapper,
    #wrapper.toggled #content-wrapper {
      position: relative;
      margin-right: 250px;
    }
  }
  
  @media (max-width: 767px) {
    #wrapper {
      padding-left: 0;
    }
  
    #sidebar-wrapper {
      width: 0;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      width: 250px;
    }
    #wrapper.toggled #navbar-wrapper {
      position: absolute;
      margin-right: -250px;
    }
  
    #wrapper.toggled #content-wrapper {
      position: absolute;
      margin-right: -250px;
    }
  
    #navbar-wrapper {
      position: relative;
    }
  
    #wrapper.toggled {
      padding-left: 250px;
    }
  
    #content-wrapper {
      position: relative;
      top: 0;
    }
  
    #wrapper.toggled #navbar-wrapper,
    #wrapper.toggled #content-wrapper {
      position: relative;
      margin-right: 250px;
    }
  }
       /* تغيير لون النص عند تحويل المؤشر إليه */
    /* إضافة خط تحت النص عند تحويل المؤشر إلي